{% extends "base.html" %} {% load django_vite %} {% block content %} 
{% csrf_token %}

<div id="app">
	<app></app>
</div>
{% endblock content %} {% block js %} {{ block.super }}
<script>
	var ext_csrf_token = '{{ csrf_token }}';
	var ext_form = `{{ form.as_p | safe}}`;
	var ext_customer = '{{ object.customer | safe }}';
	var ext_total_price = '{{ object.total_price | safe }}';
	var ext_order_dico = {{ orders_list | safe}};
	var ext_food_list = {{ food_list | safe}};
</script>
{% vite_hmr_client %} {% vite_asset 'src/apps/order_edit/order_edit.js' %} {% endblock js %}
